# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# API secrets
config/api/kraken_key.json
config/api/withdraw_db.json

config/chatbot/elliott_wave_settings.json
config/chatbot/live_trader_settings.json
config/chatbot/limit_cycle_settings.json

# Ignore generated output and data files
output/
data/

# Misc
*.log
log/*.log
