{
    "pair": "XBTEUR",
    "refresh_rate": 2,
    "startbuy_threshold": 0.4,
    "initial_portfolio_eur": 1000,
    "reinvestment_percent": 15,
    "take_profit_percent": 0.8,
    "buyback_percent": 0.5,
    "safety_offset": 0.15,
    "enable_stop_loss": false,
    "stop_loss_percent": 2.0,
    "debug": true,
    "log_interval_terminal": 1,
    "log_interval_file": 1,
    "auto_log": true
}
